@import '../../styles/variables';

.processButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .icon{
        width: 60px;
        height: 60px;
    }

    .title{
        font-size: $fs-600;
        font-weight: bold;
        text-align: center; 
    }

    .description{
        font-size: $fs-300;
        text-align: center; 
    }
}