@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #2f70ca;
  --secondary-color: #143d76;
  --accent-color: #1356b4;
  --background-color: #f3f8fc;
  --text-color: #262829;
  --hover-black: #202C37;
  --hover: #9db0bfce;
  --hover-clicked: #9db0bf3f;
  --border: #81919dcb;
  --background-always-dark: #040F18;
  --background-modal: #f3f8fc;
  --text-modal: #262829;
  --text-always-white: #f4f7fb;
  --button-modal: #262829;
}

.dark {
  --background-color: #040F18;
  --text-color: #DADEE5;
  --hover: #202c37bc;
  --hover-clicked: #202c372d;
  --border: #9db0bf49;
  --background-modal: #0f1922;
  --text-modal: #C6CFDC;
  --button-modal: #CACFD8;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-weight: 600;
}

strong {
  font-weight: bold;
}