.mainContainer {
    display: flex;
    justify-content: center;
}

.firstColumn {
    width: 300px;
    margin-left: 24px;
    border-right: 1px solid #45474C;
}

.secondColumn {
    width: 64%;
    max-width: 995px;
}

.thirdColumn {
    width: 18%;
    max-width: 210px;
    margin-right: 24px;
}