.mainContainer {
    display: flex;
    justify-content: center;
}

.firstColumn {
    width: 270px;
    height: 100%;
    margin-left: 24px;
}

.secondColumn {
    display: flex;
    width: 62%;
    max-width: 920px;
    padding-inline: 60px;
    padding-block: 20px;
}

.thirdColumn {
    width: 18%;
    max-width: 210px;
    margin-right: 24px;
}