@use "@/styles/variables"as *;

.hero {
  padding-top: 30px;
  background: $primary-gradient;

  div {
    align-items: center;
  }

  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $breakpoint-desktop) {
    padding-top: 60px;

    .subheading {
      width: 60%;
    }
  }
}

.heading {
  font-size: $font-size-xxl;
  text-align: center;
  color: $text-light;
}

.subheading {
  font-size: $font-size-md;
  text-align: center;
  color: $text-light;
  font-weight: 400;
  width: 70%;
}