@import '../../styles/variables';
@import '../../styles/mixins';

.clients {
    background: $light-bg;
    padding: 80px 0;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include container;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h2 {
        @include subtitle;
        margin-bottom: 0;
        color: $text;
    }

    a {
        color: $text;
        text-transform: uppercase;
        font-size: $fs-200;
        display: flex;
        align-items: center;
    }

    a span{
        margin-top: 2px;
        padding-left: 5px;
    }
}