@use '../../../styles/variables'as vars;
@use '../../../styles/mixins'as mixins;

.clients {
    background: var(--light-container-color);
    padding: 80px 0;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include mixins.container();
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    h2 {
        @include mixins.subtitle();
        margin-bottom: 0;
        color: vars.$text-color;
    }

    a {
        color: vars.$text-color;
        text-transform: uppercase;
        font-size: vars.$fs-200;
        display: flex;
        align-items: center;
    }

    a span {
        margin-top: 2px;
        padding-left: 5px;
    }
}