.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--background-color);
    padding: 0px 32px;
    width: 100%;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
.logo {
    display: flex;
    width: 100px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
}

.centerContent {
    display: flex;
}

.rightContent {
    display: flex;
}