.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: var(--background-color);
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--background-color-opposite);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1.5rem;
    object-fit: contain;
    margin-left: 0.5rem;
    cursor: pointer;
}

.tabButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-direction: row;
}