.mainButton {
    display: flex;
    padding-block: 4px;
    padding-left: 12px;
    padding-right: 4px;
    cursor: pointer;
    margin-block: 8px;
    border-radius: 6px;
    border: 0;
    transition: transform 0.5s, background-color 0.3s;
    width: 240px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    user-select: none;
    &:hover {
        transform: scale(1.05);
        background-color: var(--hover);
    };
    &:active {
        background-color: var(--hover-clicked);
        & ~ .subButtonsContainer::after{
            animation: slideUp 1s ease-in;
        }
    }
}

.mainButtonText {
    font-size: 15px;
    font-weight: bolder;
}

.subButton {
    cursor: pointer;
    font-size: 15px;
    padding-left: 20px;
    margin-block: 5px;
    padding-block: 5px;
    user-select: none;
    position: relative;
    &:hover {
        font-weight: bold;
    }
    &:active {
        font-weight: bold;
        transform: scale(1);
    }
}

.subButtonsContainer {
    overflow: hidden;
    animation: slideDown 0.3s ease-in;
    border-left: 1px solid var(--border);
    margin-left: 13px;
    position: relative;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
  
    to {
        max-height: 500px;
    }
  }

  @keyframes slideUp {
    from {
        max-height: 500px;
    }
  
    to {
        max-height: 0;
    }
  }

  .activeSectionButton {
    border-left: 2px solid var(--border-darker);
    &:hover {
        border-left: 2px solid var(--border-darker);
    }
  }


