@import '../../styles/variables';
@import '../../styles/mixins';

.resources {
    padding: 80px 0;
    background-color: $light-bg;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include container;
}

.subtitle {
    @include subtitle;
    color: $text;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}