@use "@/styles/variables" as *;

.portfolioGrid {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";

  @media (min-width: $breakpoint-tablet) {
    grid-template-areas:
      "a b"
      "c d";
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-areas:
      "a a a"
      "b c d";

      .grid1{
        height: 380px;
      }
  }

  .grid1 {
    grid-area: a;
  }

  .grid2 {
    grid-area: b;
  }

  .grid3 {
    grid-area: c;
  }

  .grid4 {
    grid-area: d;
  }
}
