.mainContainer {
    display: flex;
    justify-content: center;
}

.firstColumn {
    width: 18%;
    max-width: 230px;
    margin-left: 24px;
    border-right: 1px solid #45474C;
}

.secondColumn {
    width: 68%;
    max-width: 1058px;
}
.thirdColumn {
    width: 18%;
    max-width: 210px;
    margin-right: 24px;
}