.container {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

.sidebar {
    background-color: var(--background-color);
    width: 250px;
    height: 100px;
}

.index {
    background-color: var(--background-color);
    width: 150px;
    height: 100px;
}

.leftContent {
    background-color: red;
    width: 250px;
    height: 50px;
}

.centerContent {
    background-color: blue;
    width: 1000px;
    height: 100px;
}

.rightContent {
    background-color: green;
    width: 200px;
}