@use "@/styles/variables"as *;

.faqCard {
  border-radius: 12px;
  background-color: $background-card;
  border: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(0, 114, 255, 0.05);
  }

  .question {
    width: 100%;
    background: transparent;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 600;
    padding: 24px;
    text-align: left;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: $text-primary;
    transition: color 0.3s ease;

    .icon {
      color: $text-primary;
      transition: transform 0.3s ease, color 0.3s ease;
    }
  }

  &.open {
    background-color: rgba(0, 114, 255, 0.1);
  }
}

.open .question {
  color: $primary;

  .icon {
    color: $primary;
  }
}

.answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.open .answer {
  max-height: 200px;
  padding-bottom: 24px;
}