@use '_variables'as *;

body {
  color: $text-primary;
  background-color: $background;
  font-family: $font-family;
}

.container {
  width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-tablet;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-desktop;
  }
}

.section {
  width: 100%;
  padding: 72px 120px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}