.tabButton {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    letter-spacing: .08em;
    color: var(--text-always-white);
    cursor: pointer;
    text-decoration: none;
    margin-left: 2em;
    min-width: 143px;
}
