.tabButton {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
}
