@import '../../styles/variables';
@import '../../styles/mixins';

.faq {
    background-color: $primary;
    padding: 80px 0;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include container;

    h2 {
        @include subtitle;
    }
}