@use '../../../../styles/variables'as vars;
@use '../../../../styles/mixins'as mixins;

.process {
    background-color: vars.$primary-color;
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1920px;
    margin: auto;

    .container {
        @include mixins.container();

        h2 {
            @include mixins.subtitle(#FFFFFF);
        }

        .processContainer {
            display: flex;
            flex-direction: column;
            gap: 80px;
            color: var(--light-container-color);

            @media (min-width: 1024px) {
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}

.icon {
    width: 90px;
    height: auto;


    @media (max-width: 1024px) {
        width: 110px;
        height: auto;
        transform: rotate(90deg);
    }
}