@use '../../../../styles/variables'as vars;
@use '../../../../styles/mixins'as mixins;

.process {
    background-color: var(--primary-color);
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1920px;
    margin: auto;

    .container {
        @include mixins.container();

        h2 {
            @include mixins.subtitle(#FFFFFF);
        }

        .processContainer {
            display: flex;
            flex-direction: column;
            gap: 80px;
            color: var(--light-container-color);
            align-items: center;

            @media (min-width: 1024px) {
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}

.icon {
    color: vars.$light-text;
    font-size: 3rem;
    transform: rotate(90deg);
    
    @media (min-width: 1024px) {
    transform: rotate(0deg);
    font-size: 7rem;

    }
}