@import '../../styles/variables';
@import '../../styles/mixins';

.hero {
    background-color: $primary;
    padding: 80px 0;
    max-width: 1920px;
    margin: auto;

    div img {
        max-width: 600px;
        height: auto;
        width: 100%;
    }
}

.container {
    @include container;
    color: $light-bg;

    h1 {
        @include subtitle;
        font-size: $fs-800;
        line-height: 3.75rem;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    h3 {
        font-size: $fs-500;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding-right: 25%;
    }
}