@import "tailwindcss";

:root {
  --background-main: 0 1 32;
  --background-alt: 0 1 48;

  --primary: 0 114 255;
  --gradient-primary-start: 0 114 255;
  --gradient-primary-end: 0 198 255;

  --text: 255 255 255;
}

@theme inline {
  --color-background: rgb(var(--background-main) / <alpha-value>);
  --color-background-alt: rgb(var(--background-alt) / <alpha-value>);
  --color-primary: rgb(var(--primary) / <alpha-value>);
  --color-foreground: rgb(var(--text) / <alpha-value>);

  --bg-gradient-primary: linear-gradient(to right,
      rgb(var(--gradient-primary-start)),
      rgb(var(--gradient-primary-end)));

  --font-sans: var(--font-roboto);
}

body {
  background: rgb(var(--background-main));
  color: rgb(var(--text));
}