@import '../../styles/variables';

.accordionContainer {
  display: grid;
  gap: 10px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}