@use "../../styles/variables"as *;

.header {
  background: $primary-gradient;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: $breakpoint-desktop) {
    max-width: 1024px;
  }

  @media (max-width: $breakpoint-tablet) {
    max-width: $breakpoint-mobile;
  }
}

.section {
  width: 100%;
  height: 80px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 120px;
  }
}

.buttonText {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}