@use "../../styles/variables"as *;

.header {
  background: $primary-gradient;
}

.headerSection {
  height: 80px;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 16px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 120px;
  }
}

.buttonText {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}