@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
    background-color: $dark-bg;
    padding: 15px 0;

    h3 {
        font-size: $fs-700;
        text-transform: uppercase;
        color: $light-bg;

        span {
            color: $primary;
        }
    }
}

.rightSide{
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    display: none;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid $primary;
    background-color: transparent;
    font-size: $fs-400;
    color: $primary;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover{
        background-color: $primary;
        color: $light-bg;
    }
}

.container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $dark-bg;
    width: 100%;
    padding: 3rem;
    gap: 20px;
    height: 100dvh;

    a {
        color: $light-bg;
        font-size: $fs-300;
    }

    &.open {
        display: flex;
    }
}

.menu {
    z-index: 1;
    background: none;
    border: none;
    font-size: $fs-700;
    color: $light-bg;
    cursor: pointer;
}

@media (min-width: 768px) {
    .links {
        width: 365px;
    }
}

@media (min-width: 1024px) {
    .leftSide{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .links {
        display: flex;
        flex-direction: row;
        position: static;
        padding: 0;
        gap: 20px;
        width: 600px;
        height: 100%;

        a {
            display: inline-block;
            cursor: pointer;

            &::after {
                content: '';
                width: 0px;
                height: 2px;
                display: block;
                background: $light-bg;
                transition: 300ms;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .links a:nth-child(5) {
        display: none;
    }

    .menu {
        display: none;
    }

    .button {
        display: block;

        &:hover {
            box-shadow: 0px 0px 15px 3px #347cdb80;
            transition: all .3s ease-in-out;
        }
    }
}