@import '../../styles/globals.scss';

.resources{
    padding-top: 80px;
    padding-bottom: 80px;
}

.resources-container{
    h2{
        font-size: $fs-700;
        color: $text;
        margin-bottom: 48px;
    }
}


@media(min-width: 1024px){
    .resources-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}