@import '../../styles/variables';

.resourceCard {
    border: 1px solid $border;
    background-color: $light-bg;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    transition: .4s all ease-in-out;
    border-radius: 10px;
    gap: 20px;

    &:hover {
        background-color: $primary;
        transform: translateY(-7px);

        .iconContainer {
            background-color: $light-bg;
            color: $primary;
        }

        .text {
            color: $light-bg;
        }
    }
}

.iconContainer {
    background-color: $primary;
    color: $light-bg;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 70%;
        height: 50%;
    }
}

.text {
    text-align: center;
    color: $text;

    .title {
        font-size: $fs-600;
        font-weight: 600;
        margin-left: -7px;
        margin-top: -7px;
    }

    .description {
        font-size: $fs-300;
    }
}