@use '../../../styles/variables' as vars;

.resourceCard {
    border: 1px solid var(--border-color);
    background-color: var(--light-container-color);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: .4s all ease-in-out;
    border-radius: 10px;

    &:hover {
        background-color: var(--primary-color);
        transform: translateY(-7px);

        .iconContainer {
            background-color: var(--light-container-color);
            color: var(--primary-color);
        }

        .text {
            color: var(--light-container-color);
        }
    }
}

.iconTitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconContainer {
    background-color: var(--primary-color);
    color: var(--light-container-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.iconTitleContainer {
    text-align: left;
    color: vars.$text-color;

    .title {
        font-size: vars.$fs-500;
        color: var(--text-color);
        line-height: 33px;
        font-weight: 600;
        margin-left: 0px;
        margin-top: 0px;
    }
}

.description {
    font-size: vars.$fs-300;
    margin-left: 50px;
    margin-top: 5px;

}