@use "../../styles/variables"as *;

.footer {
  background: #111111;
  color: $text-secondary;
}

.container {
  width: 100%;
  max-width: $breakpoint-mobile;
  margin: 0 auto;

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-tablet;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: $breakpoint-desktop;
  }
}

.section {
  width: 100%;
  padding: 50px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 50px 120px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $breakpoint-mobile) {
    align-items: center;
  }
}

.icons {
  display: flex;
  gap: 8px;

  a {
    color: $text-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.right {
  @media (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}