@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    background-color: $dark-bg;
    padding: 60px 0;
}

.container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftContainer {
    color: grey;

    h3 {
        font-size: $fs-800;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .socials {
        a {
            color: grey;
        }
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;

    a {
        color: $light-bg;
    }
}

.copyright {
    p {
        color: gray;
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .leftContainer {
        h3 {
            margin-bottom: 0;
        }

        .socials {
            justify-content: start;
            margin-bottom: 0px;
        }
    }

    .links {
        flex-direction: row;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: flex-end;
    }

    .copyright {
        p {
            text-align: end;
        }
    }
}