:root {
  --primary-color: #2f70ca;
  --secondary-color: #143d76;
  --accent-color: #1356b4;
  --background-color: #f3f8fc;
  --background-color-opposite: #04070b;
  --hover-color: #ffffff;
  --text-color: #04070b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
