@use "@/styles/variables"as *;

.portfolioCard {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;

  padding: 26px 24px;
  border-radius: 24px;
  color: $text-light;
}

.portfolioCard::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, .75) 0%,
    rgba(0, 114, 255, 0.15) 100%
  );
  border-radius: 24px;
}

.title {
  font-size: $font-size-md;
  font-weight: 600;
  z-index: 2;
}

.feature {
  font-size: $font-size-base;
  padding: 2px 10px;
  border: 1px solid $text-light;
  border-radius: 30px;
  width: fit-content;
}

.featureContainer {
  z-index: 2;
  display: flex;
  gap: 10px;
}
