.themeButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid transparent;
        border-radius: 50px;
        cursor: pointer;
}

.themeButton:hover {
        background-color: var(--hover-color);
}