.sidebarItem {
    font-weight: bold;
    padding-inline: 12px;
    padding-block: 7px;
    cursor: pointer;
    margin-block: 10px;
    margin-right: 20px;
    border-radius: 4px;
    transition: transform 0.2s;
    &:hover{
        transform: scale(1.05);
        background-color: #24344286;
    }
}