@import '../../styles/variables';
@import '../../styles/mixins';

.contact {
    background-color: $light-bg;
    padding: 80px 0;
    max-width: 1920px;
    margin: auto;
}

.container {
    @include container;

    h2 {
        @include subtitle;
        color: $text;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input,
    textarea,
    button {
        width: 100%;
        padding: 15px;
        border: 1px solid $border;
        border-radius: 10px;
        font-size: $fs-300;
        font-family: $ff-primary;
    }

    input:focus,
    textarea:focus {
        outline: 0;
        border: 1px solid $dark-bg;
    }

    input::placeholder,
    textarea::placeholder {
        color: $border;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    button {
        margin-top: 28px;
        font-size: $fs-400;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 768px) {
    .inputs {
        textarea {
            height: 160px;
        }
    }

    .contacts {
        flex-direction: row;
        gap: 10px;
    }
}

.captcha{
    margin: auto;
}