// Colors
$primary: #347BDB;
$text: #29282D;
$dark-bg: #111111;
$light-bg: #FAFAFA;
$border: #CBCBCB;

// Typography
$fs-200: 1rem; // 16px
$fs-300: 1.25rem; // 20px
$fs-400: 1.5rem; // 24px
$fs-500: 1.75rem; // 28px
$fs-600: 2rem; // 32px
$fs-650: 2.25rem; // 36px
$fs-700: 3rem; // 48px
$fs-800: 3.43rem; // 55px

$ff-primary: 'Dinnextw1g',
sans-serif;
$ff-secondary: 'Tungsten';