@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './variables';
@import './mixins';

// Fonts
@font-face {
    font-family: 'Dinnextw1g';
    src: url('/fonts/dinnextw1g-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dinnextw1g';
    src: url('/fonts/dinnextw1g-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dinnextw1g';
    src: url('/fonts/dinnextw1g-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tungsten';
    src: url('/fonts/tungsten-light.woff2') format('woff2'),
        url('/fonts/tungsten-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tungsten';
    src: url('/fonts/tungsten-semibold.woff2') format('woff2'),
        url('/fonts/tungsten-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// Global Styles
html {
    font-family: $ff-primary;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1b1d29; //mudar a cor
    color: var(--text-color);
}

// Typography Utility Classes
.ff-secondary {
    font-family: $ff-secondary;
}

// Color Utility Classes
.dark {
    color: $text;
}

.light {
    color: $light-bg;
}

// Theme Variables
.light {
    --background-color: $light-bg;
    --text-color: $text;
}

.dark {
    --background-color: $dark-bg;
    --text-color: $light-bg;
}

// Slick Carousel
.slick-list {
    margin: 0 -10px;
}

.slick-slide {
    padding: 0 10px 30px;
}

.slick-slide:focus {
    outline: none;
}

.slick-active:focus {
    outline: none;
}

.slick-dots li button:before {
    width: 13px;
    height: 13px;
    content: '';
    border-radius: 50%;
    background-color: rgb(122, 122, 122);
}

.slick-dots li button:hover:before {
    background-color: rgb(163, 196, 228);
}

.slick-dots .slick-active button:before {
    background-color: rgb(0, 80, 185);
    width: 13px;
    height: 13px;
}

//Scroll Bar
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: $light-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(12, 100, 216);
}