@use "../../styles/variables"as *;

.sectionHeading {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.subheading {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $primary;
    text-transform: uppercase;
}

.heading {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
    color: $text-primary;
    font-weight: 700;
}