@use "@/styles/variables" as *;

.sectionHeading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  &.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &.column {
    text-align: center;
  }
}

.subheading {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $primary;
  text-transform: uppercase;
}

.subheadingLink {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.heading {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  color: $text-primary;
  font-weight: 700;
}

@media (max-width: $breakpoint-mobile) {
  .heading {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  .subheading {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  .column {
    align-items: center;
    text-align: center;
  }
}