@use "@/styles/variables"as *;

.featureGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}